div {
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  background: navy;
  z-index: 10;
  /*height = 45px;*/
}
nav {
  top:0;
  padding: 3px, 5px, 3px, 5px;
  width:100%;
}
nav a {
  padding: 11px;
  text-decoration: none;
  margin-top: 0px;
  display: inline-block;
  color: #d17aee;
  background-color: #343434;
  font-size: 20px;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
